@model Client_WebApp.Models.Master.ChangePasswordViewModel

<div class="modal fade" id="change-password-modal" tabindex="-1" aria-labelledby="changePasswordLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-md modal-dialog-scrollable">
        <div class="modal-content rounded-3 shadow-lg">
            <div class="modal-header bg-primary text-white">
                <h5 class="modal-title" id="changePasswordLabel">
                    Change Password - @Model.Username
                </h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <form asp-action="ChangeUserPassword" asp-controller="User" method="post" id="changePasswordForm">
                @Html.AntiForgeryToken()

                <div class="modal-body">
                    <input type="hidden" asp-for="Id" />
                    <input type="hidden" asp-for="Username" />

                    <div class="mb-3">
                        <label asp-for="Email" class="form-label"></label>
                        <input asp-for="Email" class="form-control" readonly />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="CurrentPassword" class="form-label"></label>
                        <input asp-for="CurrentPassword" class="form-control" type="password" placeholder="Enter current password" />
                        <span asp-validation-for="CurrentPassword" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="NewPassword" class="form-label"></label>
                        <input asp-for="NewPassword" class="form-control" type="password" placeholder="Enter new password" />
                        <span asp-validation-for="NewPassword" class="text-danger"></span>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Change</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
